* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(198, 221, 198);
    font-family: sans-serif;
    color: rgb(110, 97, 97);
    font-size: 21px;
	line-height: 1.8;
	-webkit-font-smoothing: antialiased;
}

.table {
    margin: 35px auto 20px auto;
	width: 50%;
	border: none;
    text-align: center;
}
.table thead th {
	font-weight: bold;
	text-align: center;
	border: none;
	padding: 10px 2px;
	background: #f3f3f3;
}
.table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
.table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
    text-align: center;
	vertical-align: top;


}
.table tbody tr:nth-child(even){
	background: #99c2aa57;
}
.table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}

.table .row {
	cursor: pointer;
	transition: 0.3s;
}
.table .row:hover {
	background: rgb(218, 215, 215);
}

.td_about {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}

#select {
	display: inline;
    width: 23px;
	padding: 2px;
    border-radius: 11px;
}

.form {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 20px;
	justify-content: space-around;
    align-items: center;
	height: 180px;
    background: rgb(101 101 101 / 27%);
}

.form-input {
	padding: 10px;
	border:0;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
	border-radius:10px;
}

input, textarea {
	font-family:inherit;
    font-size: 16px;
}

.btn {
	padding: 0 20px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;  
	border-radius: 6px;
	height: 40px;
	line-height: 40px;
	font-size: 17px;
	font-weight: 600;
	text-decoration: none;
	color: #385898;
	background-color: #e7f3ff;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}

.btn:focus-visible {
	box-shadow: 0 0 0 2px #666;
}

.btn:hover {
	background-color: #DBE7F2;
}

.edit-form {
	display: contents;
}

dialog::backdrop {
	background: rgb(55 47 47 / 47%);
}

#favDialog {
	border-radius: 18px;
	border: none;
	margin: auto;
}

.col {
	width: 400px;
}

.previous,
.next {
    margin: 12px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    background-color: #8eedd18a;
    width: 90px;
    height: 40px;
    border-radius: 7px;
    border: 2px solid rgb(76 145 128 / 69%);
}

.previous:hover,
.next:hover {
    background-color: #66bca28a;
}

.buttons {
	display: flex;
	justify-content: center;
	margin: 20px;
}